# **what?**
# This workflow installs the latest version of each dbt adapter from homebrew.
# It then run 'dbt --version' to verify the installation was successful. 
# If it fails for the scheduled runs, it will post to our team alerts channel.

# **why?**
# This is a simple way to test all adapter installations at a single
# time. It allows us to test them on a schedule as well to check for 
# any breaking dependency changes that might happen and alert us on it.

# **when?**
# This workflow will run on a schedule every night and also can be
# manually invoked.

name: Homebrew single version install test

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: "The package version to test (ex. 1.2.0, 1.3.0b1)"
        required: true
      dbt-package:
        type: string
        description: "The dbt database adapter to test (ex. dbt-postgres)"
        required: true

jobs:
  homebrew:
    runs-on: ubuntu-latest

    steps:
      - name: Brew install ${{ github.event.inputs.dbt-package }}@${{ github.event.inputs.version }}
        run: |
          brew update
          brew install git
          brew tap dbt-labs/dbt
          brew install -vd ${{ github.event.inputs.dbt-package }}@${{ github.event.inputs.version }}
          
      - name: Verify ${{ github.event.inputs.dbt-package }}@${{ github.event.inputs.version }} version
        run: |
          dbt --version
