name: Version Bump

on:
  push:
    branches:
      - "main"
      - "develop"
      - "*.latest"
      - "releases/*"
  workflow_dispatch:
  
# Release version number that must be updated for each release
env:
  version_number: '0.21.8'
  is_dry_run: true
 
jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install python dependencies
        run: |
          python3 -m venv env
          source env/bin/activate
          pip install --upgrade pip     
          
      - name: Create PR branch
        if: ${{ env.is_dry_run }}
        run: |
          git checkout -b bumping-version/${{env.version_number}}_$GITHUB_RUN_ID
          git push origin bumping-version/${{env.version_number}}_$GITHUB_RUN_ID
          git branch --set-upstream-to=origin/bumping-version/${{env.version_number}}_$GITHUB_RUN_ID bumping-version/${{env.version_number}}_$GITHUB_RUN_ID
      
      - name: Generate Docker requirements
        run: |
          source env/bin/activate
          pip install -r requirements.txt 
          pip freeze -l > docker/requirements/requirements.txt
          git status

      - name: Bump version
        run: |
          source env/bin/activate
          pip install -r dev-requirements.txt 
          env/bin/bumpversion --allow-dirty --new-version ${{env.version_number}} major
          git status

      - name: Commit version bump directly
        uses: EndBug/add-and-commit@v7
        if: ${{ !env.is_dry_run }}
        with:
          author_name: 'Github Build Bot'
          author_email: 'buildbot@fishtownanalytics.com'
          message: 'Bumping version to ${{env.version_number}}'

      - name: Commit version bump to branch
        uses: EndBug/add-and-commit@v7
        if: ${{ env.is_dry_run }}
        with:
          author_name: 'Github Build Bot'
          author_email: 'buildbot@fishtownanalytics.com'
          message: 'Bumping version to ${{env.version_number}}'
          branch: 'bumping-version/${{env.version_number}}_${{GITHUB.RUN_ID}}'

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        if: ${{ env.is_dry_run }}
        with:
          author: 'Github Build Bot <buildbot@fishtownanalytics.com>'
          draft: true
          base: ${{github.ref}}
          title: 'Bumping version to ${{env.version_number}}'
          branch: 'bumping-version/${{env.version_number}}_${{GITHUB.RUN_ID}}'
