# **what?**
# This workflow will take a version number and a dry run flag. With that
# it will run versionbump to update the version number everywhere in the
# code base and then generate an update Docker requirements file. If this
# is a dry run, a draft PR will open with the changes. If this isn't a dry
# run, the changes will be committed to the branch this is run on.

# **why?**
# This is to aid in releasing dbt and making sure we have updated
# the versions and Docker requirements in all places.

# **when?**
# This is triggered either manually OR
# from the repository_dispatch event "version-bump" which is sent from
# the dbt-release repo Action

name: Version Bump

on:
  workflow_dispatch:
    inputs:
      version_number:
       description: 'The version number to bump to'
       required: true

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - name: "[DEBUG] Print Variables"
        run: |
          echo "all variables defined as inputs"
          echo The version_number: ${{ github.event.inputs.version_number }}
    
      - name: Check out the repository
        uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install python dependencies
        run: |
          python3 -m venv env
          source env/bin/activate
          pip install --upgrade pip

      - name: Create PR branch
        run: |
          git checkout -b bumping-version/${{ github.event.inputs.version_number }}_$GITHUB_RUN_ID
          git push origin bumping-version/${{ github.event.inputs.version_number }}_$GITHUB_RUN_ID
          git branch --set-upstream-to=origin/bumping-version/${{ github.event.inputs.version_number }}_$GITHUB_RUN_ID bumping-version/${{ github.event.inputs.version_number }}_$GITHUB_RUN_ID

      - name: Bump version
        run: |
          source env/bin/activate
          pip install -r dev-requirements.txt
          env/bin/bumpversion --allow-dirty --new-version ${{ github.event.inputs.version_number }} major
          git status
 
      # this step will fail on whitespace errors but also correct them
      - name: Format bumpversion file
        continue-on-error: true
        run: |
          git add .bumpversion.cfg
          pre-commit run trailing-whitespace --files .bumpversion.cfg
          git status
          
      - name: Run changie
        run: |
          brew tap miniscruff/changie https://github.com/miniscruff/changie
          brew install changie
          regex="([1-9].[0-9].[0-9])?([rc|b]{1,2}[1-9])"
          if [[ ${{ github.event.inputs.version_number }} =~ $regex ]]
          then
            version="${BASH_REMATCH[1]}"
            prerelease="${BASH_REMATCH[2]}"
            echo $version --- $prerelease
            changie batch $version  --move-dir '$version' --prerelease '$prerelease' 
          else
            changie batch ${{ github.event.inputs.version_number }}  --move-dir '${{ github.event.inputs.version_number }}' --remove-prereleases 
          fi
          changie merge
          git status

      - name: Commit version bump to branch
        uses: EndBug/add-and-commit@v7
        with:
          author_name: 'Github Build Bot'
          author_email: 'buildbot@fishtownanalytics.com'
          message: 'Bumping version to ${{ github.event.inputs.version_number }}'
          branch: 'bumping-version/${{ github.event.inputs.version_number }}_${{GITHUB.RUN_ID}}'
          push: 'origin origin/bumping-version/${{ github.event.inputs.version_number }}_${{GITHUB.RUN_ID}}'

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          author: 'Github Build Bot <buildbot@fishtownanalytics.com>'
          base: ${{github.ref}}
          title: 'Bumping version to ${{ github.event.inputs.version_number }}'
          branch: 'bumping-version/${{ github.event.inputs.version_number }}_${{GITHUB.RUN_ID}}'
          labels: |
            Skip Changelog
