# **what?**
# This workflow will take the new version number to bump to. With that
# it will run versionbump to update the version number everywhere in the
# code base and then run changie to create the corresponding changelog.
# A PR will be created with the changes that can be reviewed before committing.

# **why?**
# This is to aid in releasing dbt and making sure we have updated
# the version in all places and generated the changelog.

# **when?**
# This is triggered manually

name: Version Bump

on:
  workflow_dispatch:
    inputs:
      version_number:
       description: 'The version number to bump to (ex. 1.2.0, 1.3.0b1)'
       required: true

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - name: "[DEBUG] Print Variables"
        run: |
          echo "all variables defined as inputs"
          echo The version_number: ${{ github.event.inputs.version_number }}

      - name: Check out the repository
        uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install python dependencies
        run: |
          python3 -m venv env
          source env/bin/activate
          pip install --upgrade pip
          
      - name: Set branch value 
        id: variables 
        run: | 
          echo "::set-output name=BRANCH_NAME::prep-release/${{ inputs.version_number }}_$GITHUB_RUN_ID"

      - name: Create PR branch
        run: |
          git checkout -b ${{ steps.variables.outputs.BRANCH_NAME }}
          git push origin ${{ steps.variables.outputs.BRANCH_NAME }}
          git branch --set-upstream-to=origin/${{ steps.variables.outputs.BRANCH_NAME }} ${{ steps.variables.outputs.BRANCH_NAME }}

      - name: Bump version
        run: |
          source env/bin/activate
          pip install -r dev-requirements.txt
          env/bin/bumpversion --allow-dirty --new-version ${{ github.event.inputs.version_number }} major
          git status

      # this step will fail on whitespace errors but also correct them
      - name: Format bumpversion file
        continue-on-error: true
        run: |
          brew install pre-commit
          pre-commit run trailing-whitespace --files .bumpversion.cfg
          git status

      - name: Run changie
        run: |
          brew tap miniscruff/changie https://github.com/miniscruff/changie
          brew install changie
          regex="([1-9].[0-9].[0-9])?([rc|b]{1,2}[1-9])"
          if [[ ${{ github.event.inputs.version_number }} =~ $regex ]]
          then
            version="${BASH_REMATCH[1]}"
            prerelease="${BASH_REMATCH[2]}"
            echo $version --- $prerelease
            changie batch $version  --move-dir "$version" --prerelease "$prerelease"
          else
            changie batch ${{ github.event.inputs.version_number }}  --include '${{ github.event.inputs.version_number }}' --remove-prereleases
          fi
          changie merge
          git status

      - name: Commit version bump to branch
        uses: EndBug/add-and-commit@v7
        with:
          author_name: 'Github Build Bot'
          author_email: 'buildbot@fishtownanalytics.com'
          message: 'Bumping version to ${{ github.event.inputs.version_number }} and generate CHANGELOG'
          branch: 'bumping-version/${{ github.event.inputs.version_number }}_${{GITHUB.RUN_ID}}'
          push: 'origin origin/${{ steps.variables.outputs.BRANCH_NAME }}'

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          author: 'Github Build Bot <buildbot@fishtownanalytics.com>'
          base: ${{github.ref}}
          title: 'Bumping version to ${{ github.event.inputs.version_number }} and generate changelog'
          branch: 'bumping-version/${{ github.event.inputs.version_number }}_${{GITHUB.RUN_ID}}'
          labels: |
            Skip Changelog
