name: Version Bump

on:
  push:
    branches:
      - "main"
      - "develop"
      - "*.latest"
      - "releases/*"
  workflow_dispatch:
  
jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
          
      - run: mkdir build && mkdir artifacts
      
      - run: git config --global user.email "buildbot@fishtownanalytics.com"
      - run: git config --global user.name "Github Build Bot"
      
      - name: Install python dependencies
        run: |
          python3 -m venv env
          source env/bin/activate
          pip install --upgrade pip
          
      - name: Generate Docker requirements
        run: |
          source env/bin/activate
          pip install -r requirements.txt 
          pip freeze -l > docker/requirements/requirements.txt
          
      - name: Generate Docker requirements
        run: |
          source env/bin/activate
          pip install -r dev-requirements.txt 
          env/bin/bumpversion --new-version 0.21.3 major
          git status
          
